body{
    background-color: rgb(87, 222, 231);
  }
  h1{
    color: White;
  }
  h2{
    color: white;
  }
  h3{
    color: white;
    width: 500px;
  }
  .b{
    font-size:45px;
    text-align: center;
    border-bottom:3px solid white;
    margin : 0;
    padding:20px;
  }
  a{
    text-decoration:none;
  }
  #grid{
    border-right: 3px solid white;
    width: 400px;
    margin : 0;
    display:grid;
    grid-template-columns:450px 1fr;
  }
  #srid ol{
    font-size:40;
    margin:0;
  }
  li{
    color: white;
    font-size:25px;
  }
  